In [20]:
import psycopg2
import os
import sys
import requests
import datetime
import time
import re

In [15]:
psycopg2.__version__

'2.9.5 (dt dec pq3 ext lo64)'

In [2]:
# db연결
conn = psycopg2.connect(host="ec2-23-21-207-93.compute-1.amazonaws.com", 
                        dbname="d3oubpekvnbupv", 
                        user="grxhirqndvyqvv", 
                        password="6f1afaafe16d245c70666bdb8c831aa876e62b380a1544f5dc832c51f27cece6", 
                        port="5432")

# 데이터 조작 객체 생성
cur = conn.cursor()

In [3]:
# html 디코딩 함수
def clean_html(x):
  x = re.sub("\&\w*\;","",x)
  x = re.sub("<.*?>","",x)
  return x

In [23]:
#데이터베이스 새로 만들기 (복합 키 세팅)
# 테이블명 : nesdata
# 컬럼명 : nesdate(뉴스작성일), newsname(뉴스타이틀), neslink(뉴스링크)
# create table
def db_create():
    cur.execute("CREATE TABLE IF NOT EXISTS newsdata(newsdate VARCHAR(30) NOT NULL, newsname VARCHAR(100) NOT NULL, newslink VARCHAR(200), primary key(newsname, newslink));")
    conn.commit()

db_create()

In [14]:
insertnews('9호선')

In [16]:
# select newdata
cur.execute(f"SELECT * FROM newsdata order by newsdate DESC limit 10")
result_all = cur.fetchall()

newslist=""
for i in result_all:
    for j in i:
        newslist = newslist + j + "\n"
    newslist = newslist + "\n"

print(newslist[:-2])

2022-11-24 11:56:00
현대건설, 장기임대아파트 힐스테이트 DMC역 분양
https://www.asiatoday.co.kr/view.php?key=20221124010013586

2022-11-24 11:35:00
대전-세종 BRT에 승객 태운 자율주행 버스 달린다
https://n.news.naver.com/mnews/article/656/0000034875?sid=101

2022-11-24 11:34:00
현역 공군대위, 만취해 지하철역서 시민 3명 폭행…현행범 체포
https://n.news.naver.com/mnews/article/016/0002069822?sid=102

2022-11-24 11:32:00
김포 하늘에 열린 미래의 길···도심항공교통 체계 UAM 비행시연
http://www.paxetv.com/news/articleView.html?idxno=159234

2022-11-24 11:32:00
김포시, 23일 UAM 비행시연 행사 개최
https://www.geconomy.co.kr/news/article.html?no=275295

2022-11-24 11:30:00
[분양 정보] 서희건설, ‘GTX운정역 서희스타힐스’ 조합원 모집
https://www.news2day.co.kr/article/20221124500128

2022-11-24 11:29:00
진작에 이랬으면···‘안전에 만전’ 광화문광장 월드컵 응원에 서울시 등 ...
https://n.news.naver.com/mnews/article/032/0003188364?sid=102

2022-11-24 11:28:00
사천시 내년 예산안 9033억… 782억 증가
http://www.knnews.co.kr/news/articleView.php?idxno=1390808

2022-11-24 11:28:00
[속보] 국회 국토위, 도시철도 무임손실 보전금 3585억 처리
http://www.incheontoday.com/news/articleView.html?idxno=224056

2022-11-24 11:28:00
뉴노멀이 된 ‘집콕’ 라이프에 더 넓게 쓰는 중대형 아파트 인기
https://news.koreadaily.com/2022/11/23/economy/realestate/20221123182752221.html

In [5]:
conn.commit()

In [32]:
# db에 넣기 통합본 - 자동용
def insertnews(keyword):
    # 네이버 검색api 키값
    client_id = 'CmmN2OJp47c60h9IWTRs'
    client_secret = 'mALduPDQEB'

    #검색설정
    search_word = keyword
    encode_type = 'json'
    max_display = 50
    sort = 'date'
    start = 1

    url = f"https://openapi.naver.com/v1/search/news.{encode_type}?query={search_word}&display={str(int(max_display))}&start={str(int(start))}&sort={sort}"

    #헤더에 아이디와 키 정보 넣기
    headers = {'X-Naver-Client-Id' : client_id,
            'X-Naver-Client-Secret':client_secret
            }

    #HTTP요청 보내기
    r = requests.get(url, headers=headers)
    #요청 결과 보기 200 이면 정상적으로 요청 완료

    # json형식으로 받기
    result = r.json()

    # key : items
    result_items=result['items']
    return result_items

# html 파싱
def clean_html(x):
    x = re.sub("\&\w*\;","",x)
    x = re.sub("<.*?>","",x)
    return x

# db연결
def dbconn():
    conn = psycopg2.connect(host="ec2-23-21-207-93.compute-1.amazonaws.com", 
                            dbname="d3oubpekvnbupv", 
                            user="grxhirqndvyqvv", 
                            password="6f1afaafe16d245c70666bdb8c831aa876e62b380a1544f5dc832c51f27cece6", 
                            port="5432")
    return conn


# db에 저장하기
def dbinsert():
    conn = dbconn()
    cur = conn.cursor()
    hosun = ['1호선','2호선','3호선','4호선','5호선','6호선','7호선','8호선','9호선']
    
    for keyword in hosun:
        result_items = insertnews(keyword)
        
        for item in result_items:
            # 날짜 형식 변환
            pDate = datetime.datetime.strptime(item['pubDate'][5:-6], '%d %b %Y %H:%M:%S')
            pDate = pDate.strftime('%Y-%m-%d %H:%M:%S')
        
            # 뉴스제목 디코딩
            title = clean_html(item['title'])
        
            link = item['link']
        
            insertdata = (pDate, title, link)

            # ON CONFLICT : 데이터가 중복되면 INSERT하지않음
            cur.execute("INSERT into newsdata(newsdate, newsname, newslink) VALUES (%s, %s, %s) ON CONFLICT (newsname, newslink) DO NOTHING", insertdata)

            # db commit
        conn.commit()

In [33]:
dbinsert()